<nav id="mynav">
  <div class="nav-logo">
    <p>Favorite Animated Shows</p>
  </div>
  <div class="nav">
    <p><a href="/">Home</a></p>
    <% Object.keys(shows).forEach(function (id) { %>
    <p><a href="<%= shows[id].route %>"><%= shows[id].name %></a></p>
    <% }) %>
  </div>
</nav>
