<nav id="mynav">
  <div class="nav-logo">
    <p>Tony Sulfaro's Favorite Shows</p>
  </div>
  <div class="nav">
    <p><a href="#">Home</a></p>
    <p><a href="#about">About</a></p>
    <p><a href="#services">Hasbin Hotel</a></p>
    <p><a href="#contact">Rick and Morty</a></p>
  </div>
</nav>
