<nav id="mynav">
  <div class="nav-logo">
    <p>Favorite Animated Shows</p>
  </div>
  <div class="nav">
    <p><a href="/">Home</a></p>
    <p><a href="/hasbin-hotel">Hasbin Hotel</a></p>
    <p><a href="/rick-and-morty">Rick and Morty</a></p>
    <p><a href="/aggretsuko">Aggretsuko</a></p>
  </div>
</nav>
