<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

  <% include ../partials/nav %>

  <div class="img-show">
    <img src="/images/aggretsuko.jpg">
  </div>

  <div class="container">
    <h2>Aggretsuko</h2>
    <p><strong>What I like About it:</strong></p>
    <p>Just look at it. Have you ever seen anything cuter??</p>
    <p><strong>Things that could be Improved</strong></p>
    <p>They need to release episodes more often so I can watch them.</p>
  </div>

  <script src="/js/script.js"></script>

</body>

</html>
