<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

  <% include ../partials/nav %>

  <div class="img-gradient"></div>
  <div class="img-show">
    <img src="/images/hasbin.jpg">
  </div>

  <div class="container">
    <h2>Hasbin Hotel</h2>
    <p><strong>What I like About it:</strong></p>
    <p>The animation itself is top-notch.</p>
    <p><strong>Things that could be Improved</strong></p>
    <p>he storyline itself is a bit much to follow and they introduce too many
      characters for a pilot episode but I found it humerous and ejoyable nonetheless</p>
  </div>

  <script src="/js/script.js"></script>

</body>

</html>
